@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

@keyframes pulse-alert {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.flash {
  animation: pulse-alert 1.5s ease-in-out infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #f173b3;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  will-change: transform;
  transition:
    width 0.2s,
    height 0.2s,
    background-color 0.2s;
}

.custom-cursor.scale {
  width: 32px;
  height: 32px;
  background-color: #4fd1c5;
}

.custom-cursor.clicking {
  transform: translate(-50%, -50%) scale(0.8);
}

.custom-cursor.hidden {
  opacity: 0;
}

@media (max-width: 768px) {
  .sizes-btn {
    margin-left: 55%;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .sizes-btn {
    margin-left: 357px;
    margin-top: 20px;
  }
}
.nav-link {
  @apply text-gray-800 dark:text-white hover:text-pink-400 font-medium transition-colors duration-300;
}

.nec{
  transform: scale(1.1);
}